.s-alert-box {
  padding: $half-spacing-unit !important;
  padding-right: $half-spacing-unit*3 !important;
  font-family: $font-family-base !important;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3) !important;
  font-size: 15px !important;
  border-radius: 2px !important;
}

.s-alert-close {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.s-alert-success {
  background: $watermelon !important;
  color: #fff;
}
